<p style="margin-top:3em" class=" alert-info alert">Did you know?
    <br/>With <a target="_blank" rel="noreferrer" href="https://plugins.piwik.org/MarketingCampaignsReporting">Marketing Campaigns Reporting</a> plugin you can measure the effectiveness of your marketing campaigns.
    New reports, segments & track up to five channels: campaign, source, medium, keyword, content.
</p>